<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Whats your favorite Quote?</title>
  </head>
  <body>
    <h1>Please leave your favorite quote</h1>
      <!-- Create form to create Quotes  -->
      <form action="/quotes" method="post">
        Name: <input type="text" name="name" value="">
        Quote: <textarea name="quote" rows="8" cols="80"></textarea>
        <input type="submit" name="submit" value="Post Quote">
      </form>
      <a href="/quotes">I want to see Quotes!</a>
  </body>
</html>
