<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New</title>
</head>
<body>
  <h1>Create a New Hero</h1>
  <!-- Submitted form will POST to / route -->
  <form action="/" method='post'>
    Name: <input type="text" name="name">
    Weight: <input type="text" name="weight">
    Race: <input type="text" name="race">
    Class: <input type="text" name="class">
    Clan: <input type="text" name="clan">
    <input type="submit" value="Add a new hero!">
  </form>
  <a href="/">Home</a>
</body>
</html>
